
body {
    margin: 0;
    background-color: #e6f0fa; 
    font-family: 'Monserrat',sans-serif;
    color: #2c3e50;
}


.frecklefont {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
}

.topnav {
    width: 100%;
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.game-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.game-logo img {
    width: 100px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 6px;
    transition: background 0.3s;
}

.menu a:hover,
.menu a.active {
    background-color: #e3f2fd;
    color: #1e88e5;
}

.footer {
    background-color: #0d47a1;
    color: white;
    padding: 15px 0;
    margin-top: 50px;
}

.footer-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-content p {
    margin: 0;
    font-size: 0.95rem;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.hero {
    text-align: center;

}

.hero h1 {
    font-size: 50px;
    color: #0d47a1;
}

.hero p {
    margin-bottom: -50px;
}

.hero img {
    width: 800px;
}

@keyframes revealAnimation {
    from {
        opacity: 0;
        transform: translateY(100px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.adventure-container {
    max-width: 1100px;
    margin: 80px auto;
    padding: 0 20px;
}

.adventure-step {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.step-text {
    flex: 1;
}

.step-text h2 {
    font-family: 'Montserrat', sans-serif;
    color: #0d47a1;
    font-size: 32px;
}

.step-image {
    flex: 1;
}

.step-image img {
    width: 85%;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: transform 0.5s ease;
}

.adventure-step:hover .step-image img {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .adventure-step {
        flex-direction: column !important;
        text-align: center;
        gap: 20px;
    }
    
    .adventure-step:nth-child(even) {
        flex-direction: column-reverse !important;
    }
}

